/* styles.css */

.flex-container {
    display: flex;
}

.file-list {
    margin-right: 20px;
}

.error-block {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    color: #ff0000;
    white-space: pre-line;
}

.success {
    color: blue !important;  /* Синий цвет для успешного выполнения */
}

.error {
    color: red !important;  /* Красный цвет для ошибки */
}


:root {
    --white: #fff;
    --grey-120: #313130;
    --grey-46: #716f6e;
    --grey-30: #908e8d;
    --grey-16: #c6c4c2;
    --grey-10: #f7f4f3;
    --grey-11: #e9e6e4;
    --grey-13: #d9d6d5;
    --backgroundBase: var(--grey-10);
    --borderPrimary: var(--grey-13);
}
.sitetoolbar {
        display: block;
        width: fit-content;
        margin: 0 auto 30px;
}
.other-element {
        float: left;
        width: 95%;
        margin-left: 1%;
        margin-top: +20%;
        border: 1px solid #695753;
        box-shadow: 0 0 3px 1px #695753;
        padding: 1em;
        background: #a7c1c496;
        font-family: Arial, Helvetica, sans-serif;
    }
