{% extends 'signal_media/base.html' %}
{% block title %}
File upload
{% endblock %}

{% block body %}
<h1>Cигнал Медия</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <input type="file" name="myfile" multiple accept=".xlsx">
    </p>
    <button type="submit"> Загрузить </button>
    <label for="year">Год:</label>
    <input value="2024" type="text" id="year" name="year" required>
    <button type="button" id="renameBtn">Обработать плейлисты</button>
    <button type="submit" id="action" value="log">Проверить плейлисты</button>
    <button type="submit" id="logged" value="log">Очистить список</button>
</form>

<div class="flex-container">
    <div class="file-list">
        <h2>Список плейлистов:</h2>
        <ul id="fileList">
            {% for file in temp_blocks %}
            <li><a href="{% url 'signal_media:download_file' file %}" download>{{ file }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="error-block" id="errorBlock">Cписок ошибок</div>
</div>

<div>
    <a href="{% url 'signal_media:edit_setting' %}">Edit setting</a>
</div>
{% endblock %}
